@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');


//colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$imageOverlay: #e5ddda;

//font-family
$body-font: "Alata", sans-serif;
$heading-font: "Josefin Sans", sans-serif;

